$ext-version: '6.5.3.57' !default;  // Updated automatically by the build script.
$ext-trial: true !default; // Updated automatically by the build script.
$ext-beta: false !default; // Updated automatically by the build script.
@import 'compass';
@import 'functions';
@import 'mixins';
