.ux-page-dialog-container {
    .ux-page-dialog-inner-container {
        margin-top: -50px;
    }

    .x-window-body-default {
        background-image: url('images/pages/error-page-background.jpg');
        background-size: cover;
        color:#fff;
    }

    &.x-window-default {
        border: none;
    }

    .ux-page-dialog-top-text {
        font-size: 150px;
        line-height: 150px;
    }

    .ux-page-dialog-bottom-text {
        font-size: 18px;
    }

    .ux-page-dialog-desc {
        line-height: 24px;
        text-align: center;
        font-size: 18px;

        a {
            color: $base-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
