.1d5faf7f9366e7a29c6ad7fa83b3043089d1c9f9 {
    display: block;
}

.a6502ffa7c47e1ff61bf14b57fff6c9f49090330 {
    display: block;
}

.09d197ca1724f33231361c5ceb89b09ea02c17d1 {
    display: block;
}
/* Set width on the form input elements since they're 100% wide by default */
img.x-tree-elbow-plus {
    float: right;
}

img.x-tree-elbow, img.x-tree-elbow-end {
    display: none;
}

div.x-grid-cell-inner-treecolumn {
    padding-top: 7px;
    cursor: pointer;
}

.x-window-default {
    border-radius: 0px !important;
}

.x-btn-default-toolbar-small {
    border-radius: 0px !important;
}

.x-btn-default-small {
    border-radius: 0px !important;
}

.x-autocontainer-middle {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.x-toolbar-footer {
    background-color: white !important;
}

#tabsMain :not(i) {
    font-size: 14px !important;
}

/*去掉Grid每行单元格点击边框*/
.x-grid-item-focused .x-grid-cell-inner:before {
    border: 0px solid #5fa2dd !important;
}

/*ToolTip关闭按钮样式*/
.x-tool-tool-el {
    overflow: hidden;
    width: 16px;
    height: 16px;
    margin: 0;
     color: #404040; 
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    opacity: 0.5;
}

/***********************************************登录样式***********************************************/

.login_bg {
    position: absolute;
    top: 50%;
    margin-top: -300px;
    width: 100%;
    height: 600px;
    background-image: url('Image/login/login_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.loginArea {
    position: absolute;
    z-index: 100;
    top: 50%;
    right: 10%;
    margin-top: -150px;
    width: 337px;
    height: 400px;
}

    .loginArea .loginForm_area {
        padding: 0 35px 15px 35px;
        background: url(Image/login/loginArea_bg.png) 0 0 repeat;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

        .loginArea .loginForm_area .pic {
            position: relative;
            height: 75px;
        }

            .loginArea .loginForm_area .pic .pic_box {
                position: absolute;
                z-index: 2;
                left: 83px;
                top: -47px;
                overflow: hidden;
                width: 96px;
                height: 96px;
                border-radius: 130px;
            }

                .loginArea .loginForm_area .pic .pic_box img {
                    width: 96px;
                    height: 96px;
                }

        .loginArea .loginForm_area .login_error {
            border-radius: 4px;
            padding: 10px 40px;
            font-size: 14px;
            text-align: left;
            background-color: #FEF3B7;
            background-image: url(Image/login/error.png);
            background-repeat: no-repeat;
            background-position: 10px 10px;
        }

.pwd_area .text {
    text-align: center;
    margin-bottom: 5px;
    box-shadow: 0 2px 2px #808080;
}

.pwd_area .username, .password {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: white;
}

.password {
    margin-top: 12px;
}

    .username .login_username, .password .login_password {
        position: absolute;
        border: none;
        outline: none;
        font-size: 17px;
        margin-left: 40px;
        width: 83%;
        height: 45px;
        padding-top: 10px;
    }

    .username i, .password i {
        position: absolute;
        color: #2f96b4;
        font-size: 1.9em;
        margin: 17px 0px 0px 10px;
    }

.loginArea .loginForm_area .login_btn input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: 'Microsoft YaHei',SimSun;
    color: #FFF;
    font-size: 24px;
    background: #38C64E;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    margin: 12px 0px 30px 0px;
}

.loginArea .language_area {
    padding: 15px 15px;
    height: 45px;
    font-size: 12px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-image: url('Image/login/languageArea_bg.png');
}

    .loginArea .language_area .fzIntall_area .zhixin a {
        text-decoration: none;
        color: white;
        filter: alpha(Opacity=100);
        -moz-opacity: 1;
        opacity: 1;
    }

/***********************************************菜单样式***********************************************/
.x-menulist-navigation {
    width: 250px;
    height: auto;
    background-color: #32404e;
}

    .x-menulist-navigation, .x-menulist-navigation ul, .x-menulist-navigation .x-menulist-item {
        border: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        color: #adb3b8;
        text-decoration: none;
        font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    }

        .x-menulist-navigation > ul > li > ul > li > .x-menulist-row > .x-menulist-item-wrap {
            padding-left: 30px;
        }

        .x-menulist-navigation > ul > li > ul > li > ul > li > .x-menulist-row > .x-menulist-item-wrap {
            padding-left: 60px;
        }

        .x-menulist-navigation .x-menulist-item,
        .x-menulist-navigation .x-menulist-item-wrap,
        .x-menulist-navigation .x-menulist-item-icon,
        .x-menulist-navigation .x-menulist-item-text,
        .x-menulist-navigation .x-menulist-item-expander {
            line-height: 50px;
        }

        .x-menulist-navigation .x-menulist-row {
            padding-left: 10px;
            padding-right: 10px;
            position: relative;
        }

        .x-menulist-navigation .x-menulist-item-wrap {
            cursor: pointer;
            position: relative;
        }

        .x-menulist-navigation .x-menulist-item-icon {
            font-size: 18px;
            width: 40px;
            display: block;
            text-align: center;
            position: absolute;
        }

        .x-menulist-navigation .x-menulist-item-text {
            font-size: 14px;
            margin-left: 40px;
            margin-right: 20px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .x-menulist-navigation .x-menulist-item-expander {
            color: #fff;
            top: 0;
            right: 0;
            width: 20px;
            display: block;
            font-size: 16px;
            text-align: center;
            position: absolute;
        }

        .x-menulist-navigation .x-menulist-container {
            display: none;
        }

        .x-menulist-navigation .x-menulist-row-over {
            background-color: #3C4A57;
        }

        .x-menulist-navigation .x-menulist-item-active {
            background-color: #2C3845;
        }

        .x-menulist-navigation .x-menulist-row-select {
            background-color: #475360;
        }
