.chooseskin {
    .setTheme{
        position: relative;
        display: inline-grid;
        text-align:center; 
        vertical-align: top;
        width: 120px;
        height: 90px;
        background-color: #f2f2f2;
        cursor: pointer;
        font-size: 15px;
        color: black;
    };

    .setTheme-header{
        position: relative;
        z-index: 10;
        height: 10px;
        border-top: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
    };

    .setTheme-side{
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 100%;
        z-index: 11;
        box-shadow: 1px 0 2px 0 rgba(0,0,0,.05);
    };

    .setTheme-logo{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 10px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
    }
}