.home-card p{
    margin: 0;
    padding: 0;
}

.home-card {


    margin-bottom: 0px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);


    .home-card-header {
        position: relative;
        height: 42px;
        line-height: 42px;
        padding: 0 15px;
        border-bottom: 1px solid #f6f6f6;
        color: #333;
        border-radius: 2px 2px 0 0;
        font-size: 14px;

        .homeadmin-badge {
            top: 50%;
            margin-top: -9px;
            color: #01AAED;
            position: absolute;
            right: 15px;
            display: inline-block;
            padding: 0 6px;
            font-size: 12px;
            text-align: center;
            border-radius: 2px;
        }

        .home-badge {
            height: 18px;
            line-height: 18px;
        }

        .home-bg-blue {
            background-color: #1E9FFF!important;
            color: #fff!important;
        }

        .home-bg-cyan {
            background-color: #2F4056!important;
            color: #fff!important;
        }

        .home-bg-green{
            background-color:#009688!important;
            color: #fff!important;
        }

        .home-bg-orange {
            color: #fff!important;
            background-color: #FFB800!important;
        }
    }

    .homeadmin-card-list {
        padding: 15px 15px;
    }

    .home-card-body {
        position: relative;
        line-height: 24px;

        
    }

    .homeadmin-card-list p.homeadmin-big-font {
        font-size: 36px;
        color: #666;
        line-height: 36px;
        padding: 5px 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }

    .homeadmin-card-list .homeadmin-span-color {
        font-size: 14px;
        position: absolute;
        right: 15px;
    }

}