//head
@include extjs-panel-ui  (
    $ui:"home-head",
    $border-width : 0,
    $ui-body-background-color :$base-color
);

//head-toolbar
@include extjs-toolbar-ui  (
    $ui:"home-head-toolbar",
    $background-color : $base-color
);

//transparent-button
@include extjs-button-small-ui (
    $ui:"planbutton",
    $border-width : 0,
    $color:rgba(255,255,255,.7),
    $background-color:transparent
);

//home-tab-panel
@include extjs-tab-panel-ui  (
    $ui:"home-tab-panel",
    $ui-bar-background-color:#fff,                            //tab背景颜色
    $ui-tab-background-color-over:#f6f6f6,                    //tab悬浮背景颜色  
    $ui-tab-background-color-active:#ddd,                     //tab选中背景颜色
    $ui-tab-color:#666,                                       //tab文本颜色
    $ui-tab-color-over:#666,                                  //tab悬浮文本颜色
    $ui-tab-color-active:#000,                                //tab选中文本颜色
    $ui-tab-closable-icon-glyph-color :#c2c2c2,               //tab关闭按钮字体颜色
    $ui-tab-closable-icon-glyph-color-over:#666,              //tab关闭按钮悬浮字体颜色  
    $ui-tab-closable-icon-glyph-color-active:#666,            //tab关闭按钮选中字体颜色  
    $ui-tab-glyph-color:#666,                                 //tab图标颜色
    $ui-tab-glyph-color-over:#666,                            //tab悬浮图标颜色
    $ui-tab-glyph-color-active:#000,                          //tab选中图标颜色
    $ui-bar-scroller-glyph-color:#666,                        //左右滚动按钮颜色
    $ui-bar-scroller-width:40px,                                //左右滚动按钮宽度
    $ui-tab-line-height:40px,                                   //行高
    $ui-strip-border-width:0,
    $ui-bar-border-width:0,
    $ui-tab-closable-icon-top:12px,
    $ui-tab-closable-icon-spacing:0,
    $ui-tab-glyph-opacity:1,
    $ui-tab-opacity:1,
    $ui-tab-opacity-focus:1,
    $ui-tab-opacity-over:1,
    $ui-tab-background-opacity:1,
    $ui-tab-opacity-focus-over:1,
    $ui-tab-background-opacity-active:1,
    $ui-tab-background-opacity-over:1,
    $ui-tab-background-opacity-focus-over:1,
    $ui-tab-background-opacity-focus-active:1,
    $ui-bar-scroller-opacity:1
);

//home-treelist
@include treelist-ui(
    $ui:"navigation",
    $padding:0px 0px,                                             //TreeList边距
    $background-color :#28333E,                                 //背景颜色
    $item-text-color:rgba(255,255,255,.7),                      //文本颜色
    $item-text-over-color:#fff,                                 //悬浮文本颜色
    $item-text-font-size:14px,                                    //文本字体大小
    $row-selected-background-color:$base-color,                   //选中行颜色
    $row-over-background-color:transparent,                       //悬浮行颜色
    $item-expander-color:#fff,                                  //箭头颜色
    $item-expander-width :20px,                                   //箭头宽度
    $item-expanded-child-background-color:rgba(0,0,0,.3),       //展开子节点颜色
    $item-line-height:40px,                                       //行高
    $item-icon-color:rgba(255,255,255,.7),                      //图标颜色
    $item-icon-over-color:#fff,                                 //图标悬浮颜色
    $item-icon-width:20px,                                        //图标宽度
    $row-indicator-selected-color : transparent,                  //选中某一项伪类
    $row-indicator-selected-over-color :transparent,              //悬浮选中某一项伪类
    $row-indicator-over-color :lighten($base-color, 10%),         //悬浮某一项伪类  
    $row-indicator-width :3px,                                    //伪类宽 
    $toolstrip-background-color:#28333E,                        //折叠后背景颜色
    $treelist-tool-indicator-selected-color:red !important
);

//******************************************************公共样式******************************************************

//一级菜单项目图标
.x-treelist-navigation > .x-treelist-root-container > .x-treelist-item > .x-treelist-row > .x-treelist-item-wrap > .x-treelist-item-icon,
.x-treelist-navigation .x-treelist-item-tool{
    left:0px;
    padding-left: 18px;
    padding-right: 32px;
};

//一级菜单项内边距
.x-treelist-navigation > .x-treelist-root-container > .x-treelist-item > .x-treelist-row{
    padding: 5px 0px !important;
};

//选中字体颜色
.x-treelist-item-selected > .x-treelist-row > .x-treelist-item-wrap > .x-treelist-item-text,
.x-treelist-item-selected > .x-treelist-row > .x-treelist-item-wrap > .x-treelist-item-icon
{
    color: #fff !important;
};

//菜单项文本左外边距 50px为图标宽度
.x-treelist-navigation  .x-treelist-item-text{
    margin-left:50px;
};

//折叠后一级菜单项
.x-treelist-navigation .x-treelist-item-tool{
    line-height: 50px;
};

//折叠一级菜单项悬浮样式
.x-treelist-navigation .x-treelist-item-tool:hover{
    background-color:$base-color;
};

//折叠一级菜单文本高度
.x-treelist-item-floated > .x-treelist-row > .x-treelist-item-wrap > .x-treelist-item-text
{
    height: 50px;
    line-height: 50px;
};

//折叠菜单项外边距
.x-treelist-item-floated > .x-treelist-container  .x-treelist-item-wrap,
.x-treelist-item-floated > .x-treelist-row
{
    margin-left: 5px !important;
};

//折叠子菜单项文本边距
.x-treelist-item-floated > .x-treelist-container  .x-treelist-item-wrap .x-treelist-item-text{
    margin-left: 25px !important;
};

//一级菜单箭头图标右浮动
.x-treelist-expander-first .x-treelist-item-expander {
    left: auto;
    right:0 ;
};


//logo 样式
.logo{
    text-align:center;
    color: rgba(255,255,255,0.8);
    font-size: 16px;
    line-height: 50px;
};

.logoIcon{
    line-height: 50px;
    background-image: url(/resources/Image/main/logo1.png);
    background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
};

//tabPanel
.x-tab-bar-home-tab-panel-top > .x-tab-bar-body-home-tab-panel{
    padding: 0px 0px 0px 0px;
};

.x-tab-home-tab-panel-top{
    padding: 0px  15px  0px  15px ;
}
