@include extjs-button-small-ui (
    $ui:"firstbtn",
    $background-color: #5FA2DD,
    $border-width:0px
);

@include extjs-button-small-ui (
    $ui:"secondbtn",
    $background-color: #025B80,
    $border-width:0px
);

@include extjs-button-small-ui (
    $ui:"thirdbtn",
    $background-color:  #157fcc,
    $border-width:0px
);

@include extjs-button-small-ui (
    $ui:"fourthbtn",
    $background-color:  #1DA02B,
    $border-width:0px
);

@include extjs-button-small-ui (
    $ui:"fifthbtn",
    $background-color:  #02A2AA,
    $border-width:0px
);

@include extjs-button-small-ui (
    $ui:"sixthbtn",
    $background-color:  #d32f2f,
    $border-width:0px
);

@include extjs-menu-ui(
    $ui:"eeeee",
    $ui-background-color :#f6f6f6,
    $ui-item-active-text-color:none,
    $ui-item-arrow-margin:0,
    $ui-item-height : 45
)
