
.auth-login-window {
    .auth-login-window-inner-container {
        margin-top: -50px;
    }

    .x-window-body-default {
        background-image: url('images/authentication/lock-screen-background.jpg');
        background-size: cover;
        color:#fff;
    }

    &.x-window-default {
        border: none;
    }

    .x-window-body-default .x-btn .x-btn-icon-el:before{ 
        right: 10px;
        font-size: 18px;
        position: absolute;
    }

    .x-window-body-default .lock-icon{ 
        font: 26px/30px FontAwesome;
        vertical-align:middle;
    }

    .x-window-body-default .link-forgot-password {
        line-height: 32px;
        color: $base-color;
        text-decoration: none;
        margin-left: 5px;
    }
    
    .logo,.label{
        text-align: center;
        color: rgba(255, 255, 255, 0.8);
        font-size: 30px;
        line-height: 50px;
    }
}
