//******************************************************全局 UI主题******************************************************

//********************************进度条 UI********************************

.x-progress-success {
    background-color: #ededed;
    border-width: 0;
    border-color: #28a745;
    border-style: solid;
    line-height: 24px;
    .x-progress-bar-success {
        background-image: none;
        background-color: #28a745;
        .x-progress-text{
            color: white
        }
    }
    .x-progress-text{
        color: white
    }
}

.x-progress-danger {
    background-color: #ededed;
    border-width: 0;
    border-color: #dc3545;
    border-style: solid;
    line-height: 24px;
    .x-progress-bar-danger {
        background-image: none;
        background-color: #dc3545;
        .x-progress-text{
            color: white
        }
    }
    .x-progress-text-back{
        color: white
    }
}